#pfp {
     height:75px;
}

#nav {
     padding: 15px;
     border-bottom: solid;
     border-color: #6c757d;
}

#about {
     padding-bottom: 40px;
}

#pets, #esports, #experience, #email, #github, #readingRobot {
     padding-bottom: 40px;
     display: none;
}

#pets {
     display: block;
}

.gap {
     padding: 5px;
}

#video {
     width: 590px;
     height: 332px;
}

#bborder {
     border-top: solid;
     border-bottom: solid;
     border-color: #6c757d;
}

#border {
     border-right: solid;
     border-color: #6c757d;
     position:relative;
}

#sidebar {
     border-right: solid;
     border-bottom: solid;
     border-color: #6c757d;
     position:relative;
     padding-left: 20px;
     font-size: 15px;
}

a {
     color:white;
}

.card-header {
     font-size: 30px;
}

.mySlides {display: none}
img {vertical-align: left;}

.slideshow-container {
     max-width: 1000px;
     position: relative;
     margin: auto;
}

.prev, .next {
     cursor: pointer;
     position: absolute;
     top: 50%;
     width: auto;
     padding: 16px;
     margin-top: -22px;
     color: white;
     font-weight: bold;
     font-size: 20px;
     transition: 0.6s ease;
     border-radius: 0 3px 3px 0;
     user-select: none;
}

#myInput {
     display: none;
}

#copiere {
     padding-right: 200px;
}

.next {
     right: 0;
     border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
     background-color: rgba(0,0,0,0.8);
}

.text {
     color: #f2f2f2;
     font-size: 20px;
     padding: 8px 12px;
     position: absolute;
     bottom: 8px;
     width: 100%;
     text-align: center;
}

.numbertext {
     color: #f2f2f2;
     font-size: 12px;
     padding: 8px 12px;
     position: absolute;
     top: 0;
}

@media only screen and (max-width: 425px) {
     .prev, .next,.text {font-size: 11px}
     #video {
          width: 300px;
          height: 169px;
     }
}

li {
     font-size: 20px;
}

p {
     font-size: 30px
}

#dropdown_btn {
     text-decoration: none;
}

.fa-link {
     font-size: 15px;
}